.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .hero-heading-wrapper {
    display: flex;
    align-items: center;
  }

.hero-cases-wrapper {
  position: absolute;
  top: -2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-about-wrapper {
  height: 60vh;
  max-width: 52rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
  .separator-vertical {
    width: 1px;
    height: 50px;
    background-color: black;
    margin: 0 10px;
  }
  
  .sub-text {
    margin-top: 20px;
  }
  
  .h2-style {
    margin-top: 10px;
  }
  
  .h1-animated {
    position: relative;
    right: 0;
    top:0;
    white-space: nowrap; 
  }

  .h1-animated.top {
   transform: translateY(50%);
  }

  .h1-animated.bottom {
    transform: translateY(-50%);
  }

  .part-wrapper {
    position: relative;
    width: 100%;
    
    display: flex;
    flex-direction: column;
  }
  
  .part-wrapper.left {
    align-items: end;
  }

  .part-wrapper.right {
    align-items: start;
  }

  .hero-heading-wrapper.part-two {
    width: 100%;
    position: absolute;
    left: 50%;
    top:40%;
    transform: translateX(-50%) translateY(-50%);
  }

  .secrion.hero {
    position: fixed;
  }

  .email-link {
    cursor: pointer;
    font-size: 1.25rem;
  }